@charset "UTF-8";
@import "../../../../BaseV1/assets/css/sass/main";

.entities-menu {
  #entities-menu-space {
    width: 170px !important;
  }
}

#filter-spaces {
  .search-filter--type {
    display: none;
  }
}

#tab-pontos-memoria {
  .descricao-meta-ponto-memoria {
      padding-left: 10px;
      font-style: italic;      
      font-size: 11px !important;
  }

  .privado {
    margin-bottom: 5px !important;
  }
} // #tab-pontos-memoria

.action-create {
  .entity-type.space-type { display: none; }
}

.js-editable-type.pontos-memoria {
  display: block;
  color: deeppink;

  &::after { content: " "; }
}