@charset "UTF-8";
@import "../../../../BaseV1/assets/css/sass/main";

.entities-menu {
  #entities-menu-space {
    width: 170px !important;
  }
}

#filter-spaces {
  .search-filter--type {
    display: none;
  }
}

.descricao-meta-ponto-memoria {
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 10px !important;
  font-size: 11px !important;
}